<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div id="app">

        <header>

        </header>


        <main>

            <div class="container">


                <div class="menu-left">
                    <div class="sofia"><img src="./img/avatar_io.jpg" style="width: 10%; border-radius: 50%;">Sofia
                        <span class="icon-1"><i class="fa-solid fa-spinner"></i></span>
                        <span class="icon-2"><i class="fa-solid fa-message"></i></span>
                        <span class="icon-3"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>

                    <div style="background-color: rgb(142, 218, 252); margin-bottom: 4%;">
                        <span class="campanella"><i class="fa-solid fa-bell-slash"></i></span>
                        <span style="font-size: 0.7rem; padding-left: 4%;">Ricevi notifiche di nuovi messaggi</span>
                        <div class="notifica">Attiva notifiche desktop</div>
                    </div>
                    
                    <div style="margin-bottom: 3%;"> 
                        <div class="search">
                            <form action="#">
                                <button>
                                    <i class="fa fa-search" style="font-size: 10px;">
                                    </i>
                                </button>
                                <input style="width: 90%;" type="text" placeholder="Cerca o inizia una nuova chat" name="search">
                            </form>
                        </div>
                    </div>

                    <div v-for="contact, i in contacts">
                        {{i}}
                        <span @click="contatore (i)">

                            <img v-bind:src="contact.avatar"
                            style="width: 10%; border-radius: 50%; position: relative left 3%;">
                            <span class="nome-contatti">
                                {{ contact.name }}
                            </span>
                            <div class="scritte">
                                {{ contact.ultimo }}
                            </div>
                        </span>  
                        
                    </div>
                </div>

                <div class="menu-right">


                    <div class="menu-up">
                        <div>
                            <img src="./img/avatar_1.jpg" style="width: 5%; border-radius: 50%;">
                            <span class="mic">Michele</span>

                            <span class="icon-4"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <span class="icon-5"><i class="fa-solid fa-paperclip"></i></span>
                            <span class="icon-6"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                            <p>Ultimo accesso alle 12:00</p>

                        </div>

                    </div>

                    <div>
                        <div v-for="messaggio in contacts[index].messages">
                            <div :class="messaggio.status">
                                <span>{{messaggio.message}}</span> <br>
                                <span style="font-size: x-small;">{{messaggio.date}}</span>
                            </div>
                        </div>

                        <div class="menu-down">
                            <span class="icon-7"><i class="fa-regular fa-face-smile"></i></span>
                            <span class="barra-messaggio">Scrivi un messaggio</span>
                            <span class="icon-8"><i class="fa-solid fa-microphone"></i></span>
                        </div>

                    </div>

                </div>
                
        </main>
    </div>
    <script src="main.js"></script>
</body>

</html>