* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    background: rgb(0, 150, 136);
}

main {
    height: 503px;
    background: rgb(220, 219, 211);
}

.container {
    position: absolute;
    left: 14%;
    bottom: 3%;
    display: flex;
}

.menu-left {
    width: 30%;
    background-color: rgb(234, 234, 234);
    padding-top: 1%;
    position: relative;
    
}

.menu-right {
    width: 70%;
    background-image: url(./img/mine.jpg);
}

.menu-up { 
    height: 9%;
    background-color: rgb(234, 234, 234);
    padding-left: 1%;
    padding-top: 0.3rem;
}

.menu-down {
    position: absolute;
    top: 90%;
    width: 70%;
    height: 10%;
    background-color: rgb(243, 238, 234);
}

.sofia {
    background-color: rgb(234, 234, 234);
    padding-bottom: 10%;
}

p {
    font-size: 0.5rem;
    position: absolute;
    left: 34%;
    top: 7%;
}

.mic {
    position: absolute;
    top: 3%;
}

.scritte {
    font-size: 0.5rem;
    position: relative;
    left: 12%;
    padding: 0.2rem;
}

.nome-contatti {
   position: relative;
   left: 3%;
}

.notifica {
    font-size: 0.7rem; 
    position: relative;
     left: 16%;
     text-decoration: underline;
     
}

.icon-1 {
    font-size: 10px;
    padding-left: 40%;
    padding-right: 8%; 
    color: rgb(177, 177, 177);
}

.icon-2 {
    font-size: 10px;
    padding-right: 10%;
    color: rgb(177, 177, 177);

}

.icon-3 {
    font-size: 10px;
    color: rgb(177, 177, 177);

}

.campanella {
    position: relative;
    left: 2%;
    font-size: 0.8rem; 
    color: rgb(142, 218, 252);
    background-color: white;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
}

.icon-4 {
    font-size: 10px;
    color: rgb(177, 177, 177);
    position: relative;
    left: 75%;
}

.icon-5 {
    font-size: 10px;
    color: rgb(177, 177, 177);
    position: relative;
    left: 80%;
}

.icon-6 {
    font-size: 10px;
    color: rgb(177, 177, 177);
    position: relative;
    left: 85%;
}

.icon-7 {
    font-size: 15px;
    color: rgb(177, 177, 177);
    position: absolute;
    left: 5%;
    bottom: 34%;

}

.barra-messaggio {
    color: rgb(177, 177, 177);
    padding-right: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    position: relative;
    left: 15%;
    top: 31%;
}

.icon-8 {
    font-size: 15px;
    color: rgb(177, 177, 177);
    position: absolute;
    left: 90%;
    bottom: 34%;
}

.sent {
    background-color: rgb(213, 249, 186);
    text-align: right;
    padding-right: 14%;
    border-radius: 12px;
    width: 48%;
    position: relative;
    left: 45%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.received {
    background-color: white;
    padding-left: 6%;
    width: 35%;
    border-radius: 12px;
    margin-left: 6%;
}